{% extends "App/bash/bash.html"%}
{% load static %}
{% block bash %}
    {{ block.spuer }}
    <people-coupons _ngcontent-c5="" _nghost-c7=""><!---->
        <div _ngcontent-c7="" class="coupons-sidebar"><img _ngcontent-c7=""
                                                           src="../../../static/bash_files/ee595541711b805cc4d9dcd713aa74da.png">
        </div>
        <modal-container _ngcontent-c7="" _nghost-c13="" class="ng-tns-c13-2">
            <div _ngcontent-c13="" class="shadow ng-trigger ng-trigger-animationState"
                 style="opacity: 0; display: none;">
                <div _ngcontent-c13="" class="container ng-trigger ng-trigger-animationState"
                     style="opacity: 0; display: none;">  <!---->
                    <div _ngcontent-c7="" class="coupons-popup"><a _ngcontent-c7=""></a> <img _ngcontent-c7=""
                                                                                              src="../../../static/bash_files/68a390aef4db13e450d8dec5dc187e3d.png">
                    </div> <!---->  </div>
            </div>
        </modal-container>
        <dialog-prompt _ngcontent-c7="" class="coupons-dialog coupons-error-dialog ng-tns-c12-3" _nghost-c12="">
            <modal-container _ngcontent-c12="" class="ng-tns-c12-3 ng-tns-c13-5" _nghost-c13="">
                <div _ngcontent-c13="" class="shadow ng-trigger ng-trigger-animationState"
                     style="opacity: 0; display: none;">
                    <div _ngcontent-c13="" class="container ng-trigger ng-trigger-animationState"
                         style="opacity: 0; display: none;">
                        <div _ngcontent-c12="" class="dialog ng-tns-c12-3" style="width: 305px;"> <!---->
                            <div _ngcontent-c12="" class="topbar ng-tns-c12-3">
                                <div _ngcontent-c12="" class="title clearfix"><h4 _ngcontent-c12=""
                                                                                  class="ng-tns-c12-3">提示</h4>
                                </div>
                            </div>
                            <div _ngcontent-c12="" class="content"> <!----> <!---->
                                <div _ngcontent-c7="" class="coupons-error"><img _ngcontent-c7=""
                                                                                 src="../../../static/bash_files/webicon.44436824138690fd2eb2caf8605796ad.png">
                                    <h6 _ngcontent-c7="">很遗憾</h6> <!----> <!----> </div>
                            </div> <!---->
                            <div _ngcontent-c12="" class="button-wrapper clearfix ng-tns-c12-3"> <!---->
                                <button _ngcontent-c12="" class="button-confirm hide-cancel"> 我知道了</button>
                            </div>
                        </div>
                    </div>
                </div>
            </modal-container>
        </dialog-prompt>
        <dialog-prompt _ngcontent-c7="" class="coupons-dialog coupons-result-dialog ng-tns-c12-4"
                       _nghost-c12="">
            <modal-container _ngcontent-c12="" class="ng-tns-c12-4 ng-tns-c13-6" _nghost-c13="">
                <div _ngcontent-c13="" class="shadow ng-trigger ng-trigger-animationState"
                     style="opacity: 0; display: none;">
                    <div _ngcontent-c13="" class="container ng-trigger ng-trigger-animationState"
                         style="opacity: 0; display: none;">
                        <div _ngcontent-c12="" class="dialog ng-tns-c12-4" style="width: 325px;"> <!---->
                            <div _ngcontent-c12="" class="topbar ng-tns-c12-4">
                                <div _ngcontent-c12="" class="title clearfix"><h4 _ngcontent-c12=""
                                                                                  class="ng-tns-c12-4">提示</h4>
                                </div>
                            </div>
                            <div _ngcontent-c12="" class="content"> <!----> <!---->
                                <div _ngcontent-c7="" class="coupons-result"><img _ngcontent-c7=""
                                                                                  src="../../../static/bash_files/ok.99ee5b98a4f39f684c638786be5b5455.png">
                                    <p _ngcontent-c7=""><span _ngcontent-c7="">恭喜你获得新人专享红包</span> <span
                                            _ngcontent-c7="">请在<strong
                                            _ngcontent-c7="">个人中心 - 我的优惠券</strong>查看礼券详情</span>
                                    </p>
                                    <ul _ngcontent-c7="" class="coupon-list clearfix"> <!----> </ul>
                                    <p _ngcontent-c7=""><span _ngcontent-c7="">*根据网络状况，优惠券到账可能有延迟</span></p>
                                </div>
                            </div> <!---->
                            <div _ngcontent-c12="" class="button-wrapper clearfix ng-tns-c12-4"> <!---->
                                <button _ngcontent-c12="" class="button-confirm hide-cancel"> 去购物</button>
                            </div>
                        </div>
                    </div>
                </div>
            </modal-container>
        </dialog-prompt>
    </people-coupons>
    <div _ngcontent-c5="" class="home-wrapper">
        <div _ngcontent-c5="" class="banner home-box" id="js-banner">
            <div _ngcontent-c5=""> <!----><!---->
                <div _ngcontent-c5="" class="banner-item active"><a _ngcontent-c5="" target="_blank"
                                                                    href="https://www.smartisan.com/item/100040501">
                    <img _ngcontent-c5="" src="{% static "image/lou1 (1).jpg" %}"
                         style="opacity: 1; transition: opacity 0.3s ease-in-out 0s;"> </a></div> <!---->
                <div _ngcontent-c5="" class="banner-item"><a _ngcontent-c5="" target="_blank"
                                                             href="https://www.smartisan.com/category/157"> <img
                        _ngcontent-c5="" src="{% static "image/lou1.jpg" %}"
                        style="opacity: 1; transition: opacity 0.3s ease-in-out 0s;"> </a></div>
            </div>
            <div _ngcontent-c5="" class="banner-focus"> <!----><!----> <a _ngcontent-c5="" class="active"></a>
                <!----> <a _ngcontent-c5="" class=""></a></div>
        </div>
        <div _ngcontent-c5="" class="home-box">
            <header _ngcontent-c5="" class="storey-title"><h5 _ngcontent-c5="" class="title">热门商品</h5> <!---->
                <div _ngcontent-c5="" class="home-page"><a _ngcontent-c5="" class="disabled"></a> <a
                        _ngcontent-c5=""></a></div>
            </header>
            <div _ngcontent-c5="" class="category-normal-wrapper">
                <section _ngcontent-c5="" class="items-wrapper clearfix">
                    <ul _ngcontent-c5="" class="items clearfix hot-items" style="width: 2440px;"> <!---->
{#                        产品展示#}
                        <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                            <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                {#                                        帆布鞋#}
                                <div id="header" _ngcontent-c9="" class="product-box-item">
                                    <div _ngcontent-c9="">
                                        <div _ngcontent-c9="" class="item-img">
                                            <a href="http://www.baidu.com"> <img _ngcontent-c9=""
                                                                                 src="{% static "image/1c13034d1028f3620d487c1db7184a51.webp" %}"
                                                                                 style="opacity: 1; transition: opacity 0.3s ease-in-out 0s;"></a>
                                        </div>
                                        <h4 _ngcontent-c9="">Smartisan 帆布鞋</h4> <!----> <h6 _ngcontent-c9="">
                                        一双踏实、舒适的帆布鞋</h6>  <!----> </div>
                                    <div _ngcontent-c9="" class="params-colors">
                                        <ul _ngcontent-c9="" class="colors-list"> <!---->

                                            <li _ngcontent-c9="" class="active"> <!---->
                                                <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                         src="{% static "image/1c13034d1028f3620d487c1db7184a51.webp" %}"
                                                                                         style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                </div>
                                            </li>
                                            <li _ngcontent-c9="" class=""> <!---->
                                                <div _ngcontent-c9="" class="outer">
                                                    <img _ngcontent-c9=""
                                                         src="https://resource.smartisan.com/resource/fe1a2348340986163776aea324283d33.jpg?x-oss-process=image/resize,w_20"
                                                         style="opacity: 1; transition: opacity 0.3s ease-in-out 0s;">
                                                </div>
                                            </li>

                                        </ul>
                                    </div> <!----> <!---->
                                    <div _ngcontent-c9="" class="item-price clearfix"><span
                                            _ngcontent-c9=""><i>¥</i> <span>199.00</span></span>
                                    </div> <!---->  <!----> <!---->
                                    <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                  class="info">添加商品</span>
                                        <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                    <!----> </div>
                            </sku-item-normal>
                        </li>

                    </ul>
                </section>
            </div>
        </div>
        <section _ngcontent-c5=""> <!----><!----> <!---->

            <div _ngcontent-c5="" class="home-box">
                <header _ngcontent-c5="" class="storey-title"><h5 _ngcontent-c5="" class="title">官方精选配件</h5>
                    <!---->
                    <div _ngcontent-c5="" class="floor-page spu-info"> <!----><!----> <!----> <!----><a _ngcontent-c5="" class="active"> 官方精选配件
                    </a> <!----> <!----><a _ngcontent-c5="" class="floor-page-link" target="_blank" href="https://www.smartisan.com/category/60">更多推荐<i _ngcontent-c5="" class="smartisan-icon gt"></i> </a> <!---->  </div>
                </header>
                <div _ngcontent-c5="" class="category-normal-wrapper">
                    <section _ngcontent-c5="" class="items-wrapper clearfix">
                        <ul _ngcontent-c5="" class="items clearfix">
                            <li _ngcontent-c5="" class="item-four item-recom">
                                <advertise _ngcontent-c5="" _nghost-c8="">
                                    <div _ngcontent-c8="" class="advertise"> <!---->
                                        <div _ngcontent-c8="" class="advertise-item"><img _ngcontent-c8=""
                                                                                          src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                          style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            <a _ngcontent-c8="" target="_blank"
                                               href="https://www.smartisan.com/item/100052801"></a></div>
                                    </div>
                                </advertise>
                            </li> <!---->
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">Smartisan 原装快充充电器 18W</h4> <!----> <h6
                                                _ngcontent-c9="">18W 安全快充</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!---->
                                                <li _ngcontent-c9="" class="active"> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>49.00</span></span></div><!---->
                                        <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">Smartisan 双口 &amp; 快充车载充电器</h4> <!----> <h6
                                                _ngcontent-c9="">铝合金机身、双口 &amp; 快充、智能调节</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!---->
                                                <li _ngcontent-c9="" class="active"> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>79.00</span></span></div><!---->
                                        <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">Smartisan 半入耳式耳机</h4> <!----> <h6
                                                _ngcontent-c9="">经典配色、专业调音、高品质麦克风</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!---->
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9="" class="active"> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>59.00</span></span></div><!---->
                                        <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">坚果彩虹数据线</h4> <!----> <h6 _ngcontent-c9="">
                                            七彩配色随机发货，为生活增添一份小小惊喜</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!----> </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>19.00</span></span></div><!---->
                                        <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">坚果“电池形电池”移动电源</h4> <!----> <h6
                                                _ngcontent-c9="">别具一格的“全能型”移动电源</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!---->
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9="" class="active"> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>69.00</span></span></div><!---->
                                        <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                            <li _ngcontent-c5="" class="item-four"> <!----> <!---->
                                <sku-item-normal _ngcontent-c5="" _nghost-c9="">
                                    <div _ngcontent-c9="" class="product-box-item">
                                        <div _ngcontent-c9="">
                                            <div _ngcontent-c9="" class="item-img"><img _ngcontent-c9=""
                                                                                        src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                        style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                            </div>
                                            <h4 _ngcontent-c9="">Smartisan 快充移动电源 10000mAh</h4> <!----> <h6
                                                _ngcontent-c9="">10000mAh 双向快充、轻盈便携、高标准安全保护</h6>  <!----> </div>
                                        <div _ngcontent-c9="" class="params-colors">
                                            <ul _ngcontent-c9="" class="colors-list"> <!---->
                                                <li _ngcontent-c9="" class="active"> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                                <li _ngcontent-c9=""> <!---->
                                                    <div _ngcontent-c9="" class="outer"><img _ngcontent-c9=""
                                                                                             src="../../../static/bash_files/placeholder.0c62faeac814faf172134746ff5bde9a.jpg"
                                                                                             style="opacity: 0; transition: opacity 0.3s ease-in-out 0s;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> <!----> <!---->
                                        <div _ngcontent-c9="" class="item-price clearfix"><span
                                                _ngcontent-c9=""><i>¥</i> <span>129.00</span></span></div>
                                        <!---->  <!----> <!---->
                                        <div _ngcontent-c9="" class="item-tips"><span _ngcontent-c9=""
                                                                                      class="info">添加商品</span>
                                            <span _ngcontent-c9="" class="warning">已达限购数量</span></div> <!---->
                                        <!----> </div>
                                </sku-item-normal>
                            </li>
                        </ul>
                    </section>
                </div>
            </div> <!----> <!----> <!---->

        </section>
        <div _ngcontent-c5="" class="home-box" style="margin-bottom:25px">
            <header _ngcontent-c5="" class="storey-title"><h5 _ngcontent-c5="" class="title">论坛精选</h5>
                <div _ngcontent-c5="" class="floor-page"><a _ngcontent-c5="" class="floor-page-link"
                                                            href="http://bbs.smartisan.com/forum.php"
                                                            target="_blank">前往论坛<i _ngcontent-c5=""
                                                                                   class="smartisan-icon gt"></i></a>
                </div>
            </header>
            <image-text _ngcontent-c5="" _nghost-c10="">
                <div _ngcontent-c10="" class="image-text-wrapper"> <!---->

                    <div _ngcontent-c10="" class="image-text-item">
                        <div _ngcontent-c10=""><img _ngcontent-c10=""
                                                    src="../../../static/bash_files/4025f0c8dcca6f70e1e614f74e0c1632.jpg">
                            <h5 _ngcontent-c10="" style="-webkit-box-orient:vertical">[开箱] 坚果 Pro 2S
                                内敛骚蓝惊艳炫光</h5>
                            <p _ngcontent-c10="" style="-webkit-box-orient:vertical">内敛骚蓝，惊艳炫光</p> <span
                                    _ngcontent-c10="">阅读全文&nbsp;<i _ngcontent-c10=""
                                                                   class="smartisan-icon gt"></i></span> <a
                                    _ngcontent-c10="" target="_blank"
                                    href="http://bbs.smartisan.com/thread-1001105-1-1.html"></a></div>
                    </div>

                </div>
            </image-text>
        </div>
    </div>
{% endblock bash %}