<div _ngcontent-c5="" class="product-main-wrapper">
    <div _ngcontent-c5="" class="product-main clearfix">
        <div _ngcontent-c5="" class="product-choose-info clearfix">
            <div _ngcontent-c5="" class="product-info">
                <div _ngcontent-c5="" class="product-title"><h1 _ngcontent-c5="" button-press="">坚果 R1</h1>
                    <h2 _ngcontent-c5="" class="product-subtitle"> 次世代旗舰手机，内藏来自未来的“电脑” </h2></div> <!----> <!---->
                <div _ngcontent-c5="" class="product-spec-wrapper product-spec-color first-spec-wrapper">
                    <div _ngcontent-c5="" class="product-spec"><span _ngcontent-c5="" class="spec-name">颜色选择</span>
                        <ul _ngcontent-c5="" class="spec-info"> <!---->
                            <li _ngcontent-c5="" class="active"> <!---->
                                <div _ngcontent-c5=""><span _ngcontent-c5="" class="color-box"> <i _ngcontent-c5=""
                                                                                                   class="color-item"> <img
                                        _ngcontent-c5="" alt=""
                                        src="https://resource.smartisan.com/resource/3a2977aae968cc8fc651afddc606d545.jpg?x-oss-process=image/resize,w_52"> </i> </span>
                                    <label _ngcontent-c5="">碳黑色（细红线版）</label></div> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name">
                                    碳黑色（细红线版） </h1></div>  <!----> </li>
                        </ul> <!----> </div>
                </div>
                <div _ngcontent-c5="" class="product-spec-wrapper product-spec-memory last-spec-wrapper">
                    <div _ngcontent-c5="" class="product-spec"><span _ngcontent-c5="" class="spec-name">容量选择</span>
                        <ul _ngcontent-c5="" class="spec-info"> <!---->
                            <li _ngcontent-c5="" class="active"> <!----> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name"> 6G +
                                    64GB </h1></div>  <!----> </li>
                            <li _ngcontent-c5=""> <!----> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name"> 6G +
                                    128GB </h1></div>  <!----> </li>
                            <li _ngcontent-c5=""> <!----> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name"> 8G +
                                    128GB </h1></div>  <!----> </li>
                            <li _ngcontent-c5=""> <!----> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name"> 8G +
                                    512GB </h1></div>  <!----> </li>
                            <li _ngcontent-c5=""> <!----> <!----> <!---->
                                <div _ngcontent-c5="" class="specs-item item-inline"><h1 _ngcontent-c5=""
                                                                                         class="item-name"> 8G +
                                    1T </h1></div>  <!----> </li>
                        </ul> <!----> </div>
                </div> <!----> </div>
            <figure _ngcontent-c5="" class="product-view"><img _ngcontent-c5=""
                                                               src="https://resource.smartisan.com/resource/06c2253354096f5e9ebf0616f1af2086.png?x-oss-process=image/resize,w_659/format,webp">
            </figure>
        </div>
    </div>
</div>